<form [formGroup]="contactForm" (ngSubmit)="submit()">
    <p>
        <select formControlName="country">
            <option [ngValue]="null" disabled>Select Country</option>
            <option *ngFor="let country of $countries | async" [ngValue]="country._id">{{country.name}}</option>
        </select>
        <button type="submit">Submit</button>
    </p>
</form>

<p>
    <input [(ngModel)]="country_name">
    <button (click)="addCountry()">Add</button>
</p>

<p>
    <input [(ngModel)]="country_name_two">
    <button (click)="addCountry2()">Add list 2</button>
</p>

<p>
    <input [(ngModel)]="set_country">
    <button (click)="setCountry()">Set Country</button>
</p>

<button (click)="testPerform()">GET request</button>
<button (click)="testPerformTwo()">GET request Two</button>