.synchro-label {
  font-size: 20px;
  font-weight: bold;
}

.errors-list {
  margin-top: 30px;

  .item-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
    border-radius: 4px;
    box-sizing: border-box;
    max-width: 33vw;
    min-width: 344px;
    padding: 14px 16px;
    min-height: 48px;
    transform-origin: center;
    margin: 10px 0;
    color: #fff;
    background-color: #ec4735;

    .item-access-link {
      text-align: center;
      margin-top: 15px;

      .link {
        color: #fff;
        font-size: 12px;
      }
    }
  }
}

.btnSynchro {
  text-align: center;
  margin-top: 20px;

  .button-default {
    margin: 0 5px;
  }
}

/** table */

.styled-table {
  margin: 25px auto;
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  cursor: pointer;
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}