<div class="synchro-label">Synchronisations en erreur !</div>

<div>
    Nombres d'appels échoués : {{flagErrors.length}}
</div>

<div class="errors-list">
    <div *ngFor="let flagError of flagErrors; trackBy: identify">
        <div class="item-list">
            <div>Erreur : {{flagError.error.error}}</div>
            <div>Message : {{flagError.error.message}}</div>
            <div class="item-access-link">
                <a class="link" [routerLink]="[flagError.error.id]" [queryParams]="{ load: flagError.error.id}">Accéder</a>
            </div>
        </div>
    </div>
</div>