<!-- <div class="btnSynchro">
    <button type="submit" (click)="sychronize()">🔁 Synchroniser</button>
</div> -->

<div class="btnSynchro">
    <button type="submit" (click)="getListsDatas()">⬇️ Get all lists items</button>
    <button type="submit" (click)="submitFailPost()">🚾 Soumettre un post en erreur</button>
</div>

<div class="newListContainer" style="margin-top: 30px;">
    <h3>New List : </h3>
    <label>
        List :
        <input autocomplete="off" type="text" id="name" #name [(ngModel)]="listName" />
    </label>
    <button type="submit" (click)="addNewList()">Add new list</button>
</div>

<!-- from api crud -->
<div class="newListContainer">
    <div *ngFor="let list of crudApiService.lists; trackBy: identifyList">
        <item-list [list]="list"></item-list>
    </div>
</div>

<div style="margin-top: 30px;">
    <h3>Reset local Database</h3>
    <button (click)="resetLocalDatabase()">Reset Local Database</button>
</div>

<!-- notification synchro en cours -->
<div class="overlay-container" *ngIf="synchoRunning">
    <div class="global-wrapper">
        <div class="notif-container">
            <div class="alert alert-info">
                <strong>Synchronisation en cours !</strong> Les données de l'application se mettent à jour avec le
                serveur.
            </div>
        </div>
    </div>
</div>

<!-- notification synchro en erreurs -->
<div class="overlay-container" *ngIf="synchoFail">
    <div class="global-wrapper">
        <div class="notif-container">
            <div class="alert alert-erreur">
                <strong>Synchronisation en erreur !</strong> Une ou plusieurs se sont produites durant la
                synchronisation de vos données.
                <a class="link" routerLink="/synchro">En savoir plus</a>
            </div>
        </div>
    </div>
</div>