<div class="btnSynchro">
    <button class="button-default" type="submit" (click)="addApiSyncError()">Créer un flag en erreur (erreur api)</button>
    <button class="button-default" type="submit" (click)="addDbSyncError()">Mettre en erreur un flag (erreur db)</button>
</div>

<div class="newListContainer" style="margin-top: 30px;">
    <h3>New List : </h3>
    <label>
        List :
        <input autocomplete="off" type="text" id="name" #name [(ngModel)]="listName" />
    </label>
    <button class="button-default" style="margin-left: 20px;" type="submit" (click)="addNewList()">Add new list</button>
</div>


<div class="newListContainer" *ngIf="crudApiService.lists">
    <div *ngFor="let list of crudApiService.lists; trackBy: identifyList">
        <item-list [list]="list"></item-list>
    </div>
</div>

<!-- notification synchro en cours -->
<!-- <div class="overlay-container" *ngIf="synchoRunning">
    <div class="global-wrapper">
        <div class="notif-container">
            <div class="alert alert-info" [innerHtml]="notificationInfoMessage">
            </div>
        </div>
    </div>
</div> -->

<!-- notification erreur message -->
<div class="overlay-container" *ngIf="isSynchroErrorLoaded">
    <div class="global-wrapper">
        <div class="notif-container">
            <div class="alert alert-erreur">
                <div class="item-list">
                    <div>Erreur : {{synchroErrorLoaded.error}}</div>
                    <div>Message : {{synchroErrorLoaded.message}}</div>
                </div>                
            </div>
        </div>
    </div>
</div>

<!-- notification synchro en erreurs -->
<div class="overlay-container" *ngIf="synchoFail">
    <div class="global-wrapper">
        <div class="notif-container">
            <div class="alert alert-erreur">
                <div>
                    <strong>Synchronisation en erreur !</strong> Une ou plusieurs erreurs se sont produites durant la
                    synchronisation de vos données.
                </div>
                <div>
                    <a class="link" routerLink="/synchro">En savoir plus</a>
                    <a class="link" (click)="refreshPage()" href="javascript:void(0)" style="padding-left: 5px;">Rafraichir la page</a>
                    <a class="link" href="javascript:void(0)" (click)="fermerNotif()" style="padding-left: 5px;">Fermer</a>
                </div>
            </div>
        </div>
    </div>
</div>