<!-- <div class="btnSynchro">
    <button type="submit" (click)="sychronize()">🔁 Synchroniser</button>
</div> -->

<div class="newListContainer" style="margin-top: 30px;">
    <h3>New List : </h3>
    <label>
        List :
        <input autocomplete="off" type="text" id="name" #name [(ngModel)]="listName" />
    </label>
    <button type="submit" (click)="addNewList()">Add new list</button>
</div>

<!-- from api crud -->
<div class="newListContainer">
    <div *ngFor="let todoList of crudApiService.todoLists; trackBy: identifyList">
        <item-list [todoList]="todoList"></item-list>
    </div>
</div>

<div style="margin-top: 30px;;">
    <h3>Reset local Database</h3>
    <button (click)="resetLocalDatabase()">Reset Local Database</button>
</div>

<!-- notification -->
<div class="notif-container" *ngIf="synchoRunning">
    <div class="alert">
        <strong>Synchronisation en cours !</strong> Les données de l'application se mettent à jour avec le serveur.
    </div>
</div>