.newListContainer {
  margin-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #504f4f;
}

.btnSynchro {
  text-align: center;
  margin-top: 10px;

  button {
    margin: 0 5px;
  }
}

.notif-container {
  position: static;
  margin-bottom: 0px;

  justify-content: center;
  align-items: flex-end;
  display: flex;
  position: fixed;
  z-index: 1000;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.alert {
  margin-bottom: 20px;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  max-width: 33vw;
  min-width: 344px;
  padding: 14px 16px;
  min-height: 48px;
  transform-origin: center;

  background-color: #2196f3;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
