<h3>List : {{ todoList.title }}</h3>

<!--
    Adding item form
-->
<label>
    Todo :
    <input autocomplete="off" type="text" id="name" #name [(ngModel)]="itemName" />
</label>
<button type="submit" (click)="addItem()">Add Todo</button>

<ul>
    <ng-container *ngFor="let item of todoList.todoItems; trackBy: trackBy">
        <li *ngIf="item.title"> {{ item.title }} </li>
    </ng-container>
</ul>

<!-- <ul>
    <li *ngFor="let item of todoItems$ | async">
        {{ item.title }}
    </li>
</ul> -->