<h3>List : {{ list.name }}</h3>

<form class="form-horizontal" [formGroup]="formulaire" (ngSubmit)="addItem(formulaire)" autocomplete="on">
    <div class="newTodoContainer">
        <div class="label">Todo :</div>
        <div class="newTodoInputs">
            <select class="input" formControlName="newTodoId">
                <option [ngValue]="null" disabled>Select a todo</option>
                <option *ngFor="let todo of defaultTodos" [ngValue]="todo.id">{{todo.name}}</option>
            </select>
            <input autocomplete="off" type="text" id="name" #name formControlName="newTodoText"
                placeholder="Write a todo..." />
        </div>
        <div class="btnSubmit">
            <button class="button-default" type="submit">Add Todo</button>
        </div>
    </div>
</form>

<ul>
    <ng-container *ngFor="let item of list.items; trackBy: trackBy">
        <li *ngIf="item.name"> {{item.name}} </li>
        <li *ngIf="!item.name"> {{ item.id | labelTodo | async}} </li>
    </ng-container>
</ul>